<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/logo.jpg" alt="Logo" width="50" height="50">
    </a>
      <a class="nav-link " routerLink="/home" routerLinkActive="active"> Home</a>
      <a class="nav-link" routerLink="/products" routerLinkActive="active"> Products</a>
      <a class="nav-link" routerLink="/users" routerLinkActive="active"> Users</a>
      <a class="nav-link" routerLink="/posts" routerLinkActive="active"> Posts</a>
      <a class="nav-link" routerLink="/login" routerLinkActive="active"> Login User</a>

    
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    </div>
  